.canvas-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50px;
  width: 50px;
  position: relative;
}

.canvas-main::before {
  content: "";
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#chartCanvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.chartCanvasNumber {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.chartSetMain {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.5s;
}

.movie-card:hover .chartSetMain {
  opacity: 0;
}
