/* 글로벌 폰트 스타일 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap");

/* 모든 요소에 글로벌 폰트 적용 */
* {
  font-family: "Noto Sans KR", sans-serif;
}

/* 본문 스타일 */
body {
  background-color: rgb(34, 34, 34);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: black;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #fca22c);
  border-radius: 6px;
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #ffa500, transparent);
}

/* 네비게이션 바 스타일 */
.navbar {
  background-color: #000000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  width: 100%;
  max-height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  flex: 1;
}

/* 로고 이미지 스타일 */
.logo img {
  max-width: 200px;
  max-height: 66.66px;
}

/* 영화 제목 박스 스타일 */
#movie-tilte-box {
  margin-top: 100px;
}

/* 비디오 박스 스타일 */
.video-box {
  margin-top: 10px;
  background-color: #000000;
  border-radius: 5px;
  padding: 10px;
  height: 400px;
  display: flex;
  align-items: center;
  width: 90%;
  max-width: 600px;
}

/* 비디오 컨텐츠 스타일 */
.video-content {
  width: 100%;
  height: 100%;
}

/* iframe 스타일 */
iframe {
  width: 100%;
  height: 100%;
}

#changeLanguage-info {
  margin-top: 50px;
}

#changeLanguage-cast {
  margin-top: 50px;
}

#changeLanguage-coment {
  margin-top: 50px;
}

/* 영화 정보 박스 스타일 */
#movie-info-box {
  display: flex;
  width: 80%;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  height: auto;
}

#movie-info {
  padding-left: 20px;
  padding-right: 20px;
}

/* 출연진 컨테이너 스타일 */
.cast-container {
  display: flex;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
  width: 80%;
}

.cast-container::-webkit-scrollbar {
  width: 12px;
}

.cast-container::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, transparent, #fff, transparent);
  border-radius: 10px;
}

.cast-container {
  scrollbar-width: thin;
  scrollbar-color: white transparent;
}

/* 출연진 목록 스타일 */
#cast-list {
  display: flex;
  white-space: nowrap;
}

/* 출연진 카드 스타일 */
.cast-card {
  color: #000000;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  background-color: #ececec;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 150px;
  height: 225px;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

/* 출연진 제목 스타일 */
.cast-title {
  font-size: 14px;
}
