/* Global Font Style */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap");

/* Apply the global font to all elements */
* {
  font-family: "Noto Sans KR", sans-serif;
}

/* Header Styles */
header {
  z-index: 999;
  background-color: black;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  display: flex;
  /* align-items: center; */
  justify-content: flex-start;
}

.logo img {
  max-width: 200px;
  max-height: 66.66px;
  margin-left: 150px;
}

.navbar .movie-search-page {
  margin-right: auto;
}

.movie-search-page h1 {
  font-size: 32px;
  color: #e1e8ed;
}

/* .navbar .search {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
} */

.search-main {
  margin: 150px 300px 50px 300px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search input[type="text"] {
  width: 100%;
  height: 36px;
  line-height: 36px;
  font-size: 1.1em;
  color: rgba(0, 0, 0, 0.5);
  border: 0;
  border-radius: 30px;
  padding: 10px 20px;
}

#search-button {
  position: absolute;
  width: 100px;
  height: 56px;
  border-radius: 30px;
  font-size: 1.1em;
  right: 0;
  border: none;
  background: rgba(251, 175, 51, 1);
  background: linear-gradient(0deg, rgba(255, 151, 0, 1) 0%, rgba(251, 125, 2, 1) 100%);
  /* background: rgb(251, 33, 117);
  background: linear-gradient(0deg, rgba(251, 33, 117, 1) 0%, rgba(234, 76, 137, 1) 100%); */

  color: #fff;
  overflow: hidden;
}

#search-button:hover {
  text-decoration: none;
  color: #fff;
}
#search-button:before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
  animation: shiny-btn1 3s ease-in-out infinite;
}
#search-button:hover {
  opacity: 0.7;
}
#search-button:active {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3), -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}

@keyframes shiny-btn1 {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}

.navbar .searchText {
  margin-right: 10px;
}

/* .navbar .search input */

/* Body Styles */
body {
  background-color: rgb(34, 34, 34);
  /* 배경색 설정 */
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  /* margin-top: 100px; */
}

/* Pagination Styles */

.pagination {
  text-align: center;
}

.pagination button {
  background-color: rgba(251, 175, 51, 1);
  color: black;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 30px;
}

.pagination button:hover {
  background-color: rgba(251, 125, 2, 1);
}

/* #prev,
#next {
  background-color: #333;
} */

.page-numbers {
  display: inline-block;
}

/* .pagination {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-numbers {
  display: flex;
  margin: 10px;
} */

/* Movie Container Styles */
#movie-container {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Movie Card Styles */
.movie-card {
  padding-top: 12px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  /* background-color: white; */
  /* color: white; */
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); */
  border-radius: 10px;
  width: 300px;
  height: auto;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  /* margin: 10px, 10px, 10px, 10px; */
  position: relative;
}

.movie-card img {
  border-radius: 10px;
}

.movie-title {
  display: none;
  font-size: 20px;
  /* text-align: center; */
}

.movie-info {
  height: auto;
  width: 280px;
  white-space: pre-wrap;
  border: 1px solid #ccc;
}

/* Modal Styles */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  border-radius: 10px;
}

.login-container {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  /* text-align: center; */
}

.login-container h1 {
  margin: 0 0 20px;
  color: #333;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-form button {
  padding: 10px;
  margin: 10px 0;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* #chartCanvas {
  width: 20px;
  height: 20px;
} */


.sign_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  border-radius: 10px;
}

.sign_container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  translate: (-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.sign_form {
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.changePwModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  border-radius: 10px;
}

.changePwContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  translate: (-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

#signOut-button {
  display: none;
}
