/* 글로벌 폰트 스타일 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap");

/* 모든 요소에 글로벌 폰트 적용 */
* {
  font-family: "Noto Sans KR", sans-serif;
}

/* 헤더 스타일 */
header {
  z-index: 999;
  background-color: black;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
}

/* 네비게이션 바 스타일 */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 로고 스타일 */
.navbar .logo {
  display: flex;
}

/* 로고 이미지 스타일 */
.logo img {
  max-width: 200px;
  max-height: 66.66px;
  margin-left: 150px;
}

/* 본문 스타일 */
body {
  background-color: rgb(34, 34, 34);
  align-items: center;
  justify-content: center;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: black;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #fca22c);
  border-radius: 6px;
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #ffa500, transparent);
}

/* 페이지네이션 스타일 */
.pagination {
  text-align: center;
}

/* 페이지네이션 버튼 스타일 */
.pagination button {
  background-color: rgba(251, 175, 51, 1);
  color: black;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 30px;
}

/* 페이지네이션 버튼 호버 스타일 */
.pagination button:hover {
  background-color: rgba(251, 125, 2, 1);
}

/* 페이지 번호 스타일 */
.page-numbers {
  display: inline-block;
}

/* 영화 컨테이너 스타일 */
#movie-container {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* z-index: 10; */
}

/* 영화 카드 스타일 */
.movie-card {
  padding-top: 12px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  border-radius: 10px;
  width: 300px;
  height: auto;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}

/* 영화 카드 이미지 스타일 */
.movie-card img {
  position: relative;
  border-radius: 10px;
}

/* 영화 제목 스타일 */
.movie-title {
  position: relative;
  top: 10px;
  margin: 10px 0, 10px 0;
  font-size: 20px;
}

/* 영화 정보 스타일 */
.movie-info {
  position: relative;
  top: 20px;
  height: 330px;
  width: 280px;
  white-space: pre-wrap;
  overflow: auto;
}

.movie-info::-webkit-scrollbar {
  width: 12px;
}

.movie-info::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #fff, transparent);
  border-radius: 10px;
}

.movie-info {
  scrollbar-width: thin;
  scrollbar-color: white transparent;
}

#card-wrap {
  position: relative;
  width: 300px;
  height: 400px;
  border-radius: 20px;
  perspective: 500px;
  cursor: pointer;
}

#card-wrap .card-set {
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

#card-wrap .card-set .card-front,
#card-wrap .card-set .card-back {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  border-radius: 20px;
  backface-visibility: hidden;
}

#card-wrap .card-set .card-front {
  z-index: 2;
}

#card-wrap .card-set .card-back {
  background: linear-gradient(0deg, rgba(207, 205, 204, 1) 0%, rgba(161, 154, 148, 1) 100%);
  z-index: 1;
  transform: rotateY(180deg);
}

/* 마우스가 들어올 때 카드를 뒤집을 스타일 */
#card-wrap:hover .card-set {
  transform: rotateY(180deg);
}
